In [1]:
! pip install pyspark

Requirement already satisfied: pyspark in /home/pericles/.local/lib/python3.8/site-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /home/pericles/.local/lib/python3.8/site-packages (from pyspark) (0.10.9.7)

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession \
    .builder \
    .appName("Trabalho Pratico - Modulo 2") \
    .getOrCreate()

spark.version

24/06/15 11:14:14 WARN Utils: Your hostname, pericles-Dell-G15-5510 resolves to a loopback address: 127.0.1.1; using 10.0.0.111 instead (on interface wlp0s20f3)
24/06/15 11:14:14 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/06/15 11:14:18 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

'3.5.1'

In [5]:
stock_df = spark.read.csv('/home/pericles/Spark-Projects/IGTI-TPM2/all_stocks_5yr.csv', header='True', inferSchema='True')

stock_df.printSchema()

root
 |-- date: date (nullable = true)
 |-- open: double (nullable = true)
 |-- high: double (nullable = true)
 |-- low: double (nullable = true)
 |-- close: double (nullable = true)
 |-- volume: integer (nullable = true)
 |-- Name: string (nullable = true)

In [6]:
stock_df.show()

+----------+-----+-----+-----+-----+--------+----+
|      date| open| high|  low|close|  volume|Name|
+----------+-----+-----+-----+-----+--------+----+
|2013-02-08|15.07|15.12|14.63|14.75| 8407500| AAL|
|2013-02-11|14.89|15.01|14.26|14.46| 8882000| AAL|
|2013-02-12|14.45|14.51| 14.1|14.27| 8126000| AAL|
|2013-02-13| 14.3|14.94|14.25|14.66|10259500| AAL|
|2013-02-14|14.94|14.96|13.16|13.99|31879900| AAL|
|2013-02-15|13.93|14.61|13.93| 14.5|15628000| AAL|
|2013-02-19|14.33|14.56|14.08|14.26|11354400| AAL|
|2013-02-20|14.17|14.26|13.15|13.33|14725200| AAL|
|2013-02-21|13.62|13.95| 12.9|13.37|11922100| AAL|
|2013-02-22|13.57| 13.6|13.21|13.57| 6071400| AAL|
|2013-02-25| 13.6|13.76| 13.0|13.02| 7186400| AAL|
|2013-02-26|13.14|13.42| 12.7|13.26| 9419000| AAL|
|2013-02-27|13.28|13.62|13.18|13.41| 7390500| AAL|
|2013-02-28|13.49|13.63|13.39|13.43| 6143600| AAL|
|2013-03-01|13.37|13.95|13.32|13.61| 7376800| AAL|
|2013-03-04| 13.5|14.07|13.47| 13.9| 8174800| AAL|
|2013-03-05|14.01|14.05|13.71|14.05| 7676100| AAL|
|2013-03-06|14.52|14.68|14.25|14.57|13243200| AAL|
|2013-03-07| 14.7|14.93| 14.5|14.82| 9125300| AAL|
|2013-03-08|14.99| 15.2|14.84|14.92|10593700| AAL|
+----------+-----+-----+-----+-----+--------+----+
only showing top 20 rows

In [7]:
stock_df.describe().show()

24/06/15 11:22:18 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-------+-----------------+-----------------+-----------------+-----------------+-----------------+------+
|summary|             open|             high|              low|            close|           volume|  Name|
+-------+-----------------+-----------------+-----------------+-----------------+-----------------+------+
|  count|           619029|           619032|           619032|           619040|           619040|619040|
|   mean|83.02333431454738| 83.7783106934728|82.25609641375341|83.04376276476505|4321823.395568945|  NULL|
| stddev|97.37876904332335|98.20751890446381|96.50742105809039|97.38974800165816|8693609.511967558|  NULL|
|    min|             1.62|             1.69|              1.5|             1.59|                0|     A|
|    max|           2044.0|          2067.99|          2035.11|           2049.0|        618237630|   ZTS|
+-------+-----------------+-----------------+-----------------+-----------------+-----------------+------+

In [8]:
stock_df.describe('open').show()

+-------+-----------------+
|summary|             open|
+-------+-----------------+
|  count|           619029|
|   mean|83.02333431454738|
| stddev|97.37876904332335|
|    min|             1.62|
|    max|           2044.0|
+-------+-----------------+

In [10]:
stock_df.select('close').summary().show()

+-------+-----------------+
|summary|            close|
+-------+-----------------+
|  count|           619040|
|   mean|83.04376276476505|
| stddev|97.38974800165816|
|    min|             1.59|
|    25%|            40.25|
|    50%|            62.62|
|    75%|            94.39|
|    max|           2049.0|
+-------+-----------------+

In [12]:
stock_df.groupBy('name').count().show()

+----+-----+
|name|count|
+----+-----+
|ALXN| 1259|
| AIV| 1259|
| AVY| 1259|
|BF.B| 1259|
| AXP| 1259|
| BLK| 1259|
|AAPL| 1259|
| ALL| 1259|
| ADI| 1259|
| AGN| 1259|
|AMGN| 1259|
|ANTM| 1259|
| AOS| 1259|
|ANDV| 1259|
| ACN| 1259|
| ARE| 1259|
| AIG| 1259|
| AFL| 1259|
| APH| 1259|
| AME| 1259|
+----+-----+
only showing top 20 rows

In [18]:
stock_df.describe().show()

+-------+-----------------+-----------------+-----------------+-----------------+-----------------+------+
|summary|             open|             high|              low|            close|           volume|  Name|
+-------+-----------------+-----------------+-----------------+-----------------+-----------------+------+
|  count|           619029|           619032|           619032|           619040|           619040|619040|
|   mean|83.02333431454738| 83.7783106934728|82.25609641375341|83.04376276476505|4321823.395568945|  NULL|
| stddev|97.37876904332335|98.20751890446381|96.50742105809039|97.38974800165816|8693609.511967558|  NULL|
|    min|             1.62|             1.69|              1.5|             1.59|                0|     A|
|    max|           2044.0|          2067.99|          2035.11|           2049.0|        618237630|   ZTS|
+-------+-----------------+-----------------+-----------------+-----------------+-----------------+------+

In [40]:
stock_df.count()

619040

In [45]:
stock_df.select('open', 'high', 'low').describe().show()

+-------+-----------------+-----------------+-----------------+
|summary|             open|             high|              low|
+-------+-----------------+-----------------+-----------------+
|  count|           619029|           619032|           619032|
|   mean|83.02333431454738| 83.7783106934728|82.25609641375341|
| stddev|97.37876904332335|98.20751890446381|96.50742105809039|
|    min|             1.62|             1.69|              1.5|
|    max|           2044.0|          2067.99|          2035.11|
+-------+-----------------+-----------------+-----------------+

In [46]:
stock_df.select('open', 'high', 'low').summary().show()

+-------+-----------------+-----------------+-----------------+
|summary|             open|             high|              low|
+-------+-----------------+-----------------+-----------------+
|  count|           619029|           619032|           619032|
|   mean|83.02333431454738| 83.7783106934728|82.25609641375341|
| stddev|97.37876904332335|98.20751890446381|96.50742105809039|
|    min|             1.62|             1.69|              1.5|
|    25%|            40.22|            40.62|            39.83|
|    50%|            62.59|            63.15|            62.02|
|    75%|            94.36|            95.17|            93.53|
|    max|           2044.0|          2067.99|          2035.11|
+-------+-----------------+-----------------+-----------------+

In [67]:
stock_df[stock_df.Name == 'AAPL'].count()

1259

In [68]:
stock_df.select('Name').distinct().count()

505

In [71]:
( stock_df[stock_df.close > stock_df.open].count() / stock_df.count() ) * 100

51.52655724993538

In [78]:
stock_df[stock_df.Name == 'AAPL'].describe().show()

+-------+------------------+------------------+------------------+------------------+-------------------+----+
|summary|              open|              high|               low|             close|             volume|Name|
+-------+------------------+------------------+------------------+------------------+-------------------+----+
|  count|              1259|              1259|              1259|              1259|               1259|1259|
|   mean|109.05542891183475|109.95111834789516|108.14158888006372|109.06669849086583|5.404789973550437E7|NULL|
| stddev| 30.54922002458826|30.686186407983914|30.376223585852472|30.556811676964696|  3.3468353335784E7|NULL|
|    min|           55.4242|           57.0857|           55.0142|           55.7899|           11475922|AAPL|
|    max|            179.37|             180.1|            178.25|            179.26|          266833581|AAPL|
+-------+------------------+------------------+------------------+------------------+-------------------+----+

In [108]:
from pyspark.sql.functions import asc, col

stock_df.groupBy('Name').agg({'close': 'stddev'}).orderBy(col('stddev(close)').desc()).show()

+-----+------------------+
| Name|     stddev(close)|
+-----+------------------+
| PCLN|  320.533473018748|
| AMZN|  282.500395033522|
|GOOGL|187.57389185479704|
| GOOG|166.42052902768182|
|  MTD|131.39721989584996|
|  AZO|130.74959678201296|
|  CMG|130.28062354899413|
| EQIX| 95.21280494966273|
| REGN| 94.06934511650653|
| CHTR| 83.63699908227738|
| ISRG| 72.97599882123069|
| AVGO| 71.41622240006728|
| ULTA| 67.15184610039526|
|  NOC| 66.39592749504422|
|  SHW| 64.52058470708296|
|  LMT| 62.41202936228181|
|  BLK| 62.33688426948667|
| NVDA| 59.62464184686514|
| ORLY| 59.09508035311545|
|  AGN|59.026349830314544|
+-----+------------------+
only showing top 20 rows

In [115]:
stock_df.groupBy('date').agg({'volume': 'sum'}).orderBy(col('sum(volume)').desc()).show()

+----------+-----------+
|      date|sum(volume)|
+----------+-----------+
|2015-08-24| 4607945196|
|2016-06-24| 4367393052|
|2015-12-18| 4124454411|
|2016-01-20| 4087629753|
|2018-02-06| 4072080890|
|2016-11-10| 4060601612|
|2014-10-15| 3993171524|
|2013-06-21| 3983923288|
|2015-09-18| 3962050449|
|2016-11-09| 3915089371|
|2016-01-15| 3787884056|
|2017-12-15| 3786992731|
|2016-02-08| 3759709109|
|2016-03-18| 3755746256|
|2016-01-29| 3740170664|
|2014-03-21| 3611991561|
|2018-02-05| 3598437288|
|2013-03-15| 3569550899|
|2016-12-16| 3564871264|
|2016-02-11| 3547898496|
+----------+-----------+
only showing top 20 rows

In [116]:
stock_df.groupBy('Name').agg({'volume': 'sum'}).orderBy(col('sum(volume)').desc()).show()

+-----+------------+
| Name| sum(volume)|
+-----+------------+
|  BAC|117884953591|
| AAPL| 68046305767|
|   GE| 53023644686|
|    F| 43388129992|
|   FB| 43258314899|
| MSFT| 42641653597|
|  AMD| 40941468586|
|   MU| 38082749687|
| INTC| 36922332801|
| CSCO| 36075826186|
|  PFE| 35527608853|
|    T| 31850598073|
|  CHK| 31421758366|
|CMCSA| 30630585625|
|  FCX| 29648463667|
|    C| 26044628798|
|  WFC| 23305954532|
|  JPM| 20885592857|
|   RF| 20645650500|
| NFLX| 20405882026|
+-----+------------+
only showing top 20 rows

In [127]:
(stock_df[stock_df.Name < 'B']).select('Name').distinct().count()

59

In [125]:
stock_df.select('Name').distinct().count()

505

In [129]:
stock_df[stock_df.high == stock_df.close].count() / stock_df.count()

0.011986301369863013

In [137]:
new_stock_df = stock_df

# new_stock_df['high-open'] = new_stock_df['high'] - new_stock_df['low']

new_stock_df = new_stock_df.withColumn('high-open', col('high') - col('open'))

new_stock_df[new_stock_df.Name == 'AAPL'].groupBy('date').agg({'high-open': 'max'}).orderBy(col('max(high-open)').desc()).show(1)

+----------+------------------+
|      date|    max(high-open)|
+----------+------------------+
|2015-08-24|13.929999999999993|
+----------+------------------+
only showing top 1 row